<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-form-field color="accent" class="searchbar">
      <input matInput type="text" placeholder="Type in your favourite episode!" [(ngModel)]="nameFragment" />
      <button mat-button *ngIf="nameFragment" matSuffix mat-icon-button aria-label="Clear" (click)="nameFragment=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.xs="column" *ngIf="(gqlData$ | async).data.episodes as episodes">
  <app-episodecard *ngFor="let episode of episodes | SearchPipe: nameFragment" [episode]="episode"></app-episodecard>
</div>